[submodule "libraries/ActionBarSherlock"]
	path = libraries/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock
[submodule "libraries/EventBus"]
	path = libraries/EventBus
	url = https://github.com/greenrobot/EventBus
